header {
  padding: 27px 100px;
  background-color: #f5e6df;
  width: 100%;
  z-index: 2;
  position: sticky;
  top: 0;
  .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    img {
      max-width: 70px;
      width: 100%;
      max-height: 100px;
      height: 100%;
    }
    .header-list {
      display: flex;
      gap: 30px;
      a {
        font-family: "nino_mtavruli", Sans-serif;
        font-size: 15px;
        font-weight: 600;
        &:hover {
          color: #242322;
        }
      }
      .active-header-link {
        color: #242322;
      }
    }
    button {
      padding: 0px 15px;
      background-color: #65317d;
      border-radius: 10px;
      line-height: 38px;
      border: none;
      color: white;
      cursor: pointer;
      transition: opacity 0.3s ease;
      &:hover {
        opacity: 0.8;
      }
    }
  }
}
